* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #d9d9d9;
  max-width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 0;
}

.container_logo {
  display: none;
}
ul {
  display: none;
}

ul.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}

ul li a {
  color: rgb(235, 235, 235);
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  padding: 0.7rem;
}
nav {
  background-color: #2c3e50;
  color: rgb(235, 235, 235);
}

.menu_toggle {
  background-color: #2c3e50;
  border: none;
}

button {
  margin-bottom: 7px;
  border-radius: 20px;
  background-color: #27ae60;
  color: rgb(215, 215, 215);
  text-decoration: none;
  padding: 7px;
  width: 10em;
  border: none;
}

button:hover {
  background-color: #13572f;
}

img.buscar {
  background-color: white;
  padding: 0 10px;
}
.container_buscar {
  padding: 15px 0;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.container_buscar input {
  border: none;
  height: 40px;
  width: 70vw;
  background-color: #d9d9d9;
}

ul img {
  padding: 0 10px;
  width: 24px;
}
.container_table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 40px;
}

table {
  padding: 15px;
  text-align: center;
}

th,
td {
  padding: 13px;
}

h1.inv {
  position: absolute;
  top: 25px;
  left: 27%;
  color: #d9d9d9;
}





@media (min-width: 720px) {
  .container {
    flex-direction: row;
    height: 100vh;
  }

  .container_logo {
    display: block;
    background-color: #2c3e50;
  }

  .container_nav {
    display: flex;
    flex-direction: column;
    width: 200px;
  }
  nav {
    flex-grow: 1;
  }

  .container_logo img {
    width: 100%;
  }

  .menu_toggle,
  .container_buscar {
    display: none;
  }

  ul {
    display: flex;
    flex-direction: column;
  }

  h1.inv {
    color: #2c3e50;
    position: static;
    padding-bottom: 30px;
  }

  h2.carrito {
    padding: 15px;
    text-align: center;
    color: #2c3e50;
  }

  div.carrito-compras {
    padding: 40px;
  }

  table {
    border-collapse: collapse;
  }

  thead {
    background-color: #27ae60;
    color: #2c3e50;
  }
  tbody {
    background-color: #2c3e50;
    color: #d9d9d9;
  }

  footer {
    padding: 30px;
  }
}
